<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <div class="card">
            <div class="card-header">
                <h5>Article name</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Description</p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                  <i class="fas fa-pen"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                  <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
    </div>






</div>

<!--Edit modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group full-width-input">
                        <label>Article</label>
                        <input class="form-control" placeholder="Article Name" formControlName="article" required>
                    </div>
                    <div class="form-group full-width-input">
                        <label>Description</label>
                        <input class="form-control" placeholder="Description" formControlName="description">
                    </div>
                    <div class="form-group full-width-input">
                        <label>Estate</label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>